{
    "server": {
        "host":"subdomain.domain.com",
        "port":"14441"
    },
    "hash_key": [
	{ "enabled":"False", "key":"",
	{ "enabled":"False", "key":""
    ],
    "accounts": [
        { "provider":"", "username":"", "password":"" },
	{ "provider":"", "username":"", "password":"" }
    ]
}