{
    "server":{
        "host":"subdomain.domain.com",
        "port":"14441"
    },
    "hash_key":{
        "key":""
    }
    "accounts":{
        "provider":"",
        "username":"",
        "password":""
    }
}
