{
  "server": {
    "protocol":"http",
    "host":"sub.domain.tld",
    "port":"13331"
  },
  "hash_key": [
    { "enabled":"False", "key":"" }
  ],
  "location": {
    "lat":"0",
    "long":"0"
  }
}
